$x: 0 !default;
$y: 0 !default;
$z: 0 !default;

@keyframes lineAnimate {
  50% {
    transform: translate3d(0.5rem, -0.5rem, 0);
  }
}

@keyframes guangAnimate {
  50% {
    transform: translate3d(0, 0.1rem, 0);
  }
}