/* 弹性 */
.flex_row_c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_column_c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.flex_around {
    display: flex;
    justify-content: space-around;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_c {
    display: flex;
    align-items: center;
}