//字体大小
.font-24 {
    font-size: 0.75rem;
}

.font-26 {
    font-size: 0.8125rem;
}

.font-28 {
    font-size: 0.875rem;
}

.font-30 {
    font-size: .9375rem;
}

.font-32 {
    font-size: 1rem;
}

.font-40 {
    font-size: 1.25rem;
}

.font-48 {
    font-size: 1.5rem;
}

.font-60 {
    font-size: 1.875rem;
}

.font-72 {
    font-size: 2.25rem;
}