/* 方法一 */
@media screen and (min-width: 32rem) {
    :root {
      font-size: .3125rem;
    }
  }
  
  @media screen and (min-width: 34.375rem) {
    :root {
      font-size: .375rem;
    }
  }
  
  @media screen and (min-width: 40rem) {
    :root {
      font-size: .375rem;
    }
  }
  
  @media screen and (min-width: 42.6875rem) {
    :root {
      font-size: .4063rem;
    }
  }
  
  @media screen and (min-width: 45rem) {
    :root {
      font-size: .4375rem;
    }
  }
  
  @media screen and (min-width: 52.5rem) {
    :root {
      font-size: .375rem;
    }
  }
  
  @media screen and (min-width: 60rem) {
    :root {
      font-size: .5rem;
    }
  }
  
  @media screen and (min-width: 64rem) {
    :root {
      font-size: .7188rem;
    }
  }
  
  @media screen and (min-width: 80rem) {
    :root {
      font-size: .6563rem;
    }
  }
  
  @media screen and (min-width: 120rem) {
    :root {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 128rem) {
    :root {
      font-size: 1.25rem;
    }
  }