@import "./defaultVar";
// 形状
@mixin polygon($X1, $Y1...) {
  clip-path: polygon($X1, $Y1);
}
// 宽高相同
@mixin polygonSize($w: $W, $t: $T, $l: $L, $bg: $BG) {
  width: $w;
  height: $w;
  top: $t;
  left: $l;
  background: $bg;
}
@mixin polygonSize2($w: $W, $h: $H, $t: $T, $l: $L, $bg: $BG) {
  width: $w;
  height: $h;
  top: $t;
  left: $l;
  background: $bg;
}