// animation 的变量 
$type: linear !default;
$count: infinite !default;
$direction: normal !default;

// animation 宽高上右下左
$W: 0rem !default;
$H: 0rem !default;
$T: 0rem !default;
$R: 0rem !default;
$B: 0rem !default;
$L: 0rem !default;
$BG: rgba(0, 0, 0, 1) !default;

// 形状的变量 

