@font-face {
  font-family: 'iconfont';  /* project id 951049 */
  src: url('//at.alicdn.com/t/font_951049_zvk9belm70l.eot');
  src: url('//at.alicdn.com/t/font_951049_zvk9belm70l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_951049_zvk9belm70l.woff') format('woff'),
  url('//at.alicdn.com/t/font_951049_zvk9belm70l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_951049_zvk9belm70l.svg#iconfont') format('svg');
}